<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<body>

    <div id="app">
        {{ message }}
    </div>

    <div id="app2">
        <span v-bind:title="message">Hold ur mouse here.</span>
    </div>

    <div id="app3">
        <span v-if="seen">Can u see me ?</span>
    </div>

    <div id="app4">
        <!-- xxx in XXX  前面的 xxx 是下面模版里的“变量名”，后面的 XXX 是 JS 代码里的“变量名” -->
        <ul v-for="xxx in Todos">
            <li>{{ xxx.text }}</li>
        </ul>
    </div>

    <div id="app5">
        <p>{{ msg }}</p>
        <button v-on:click="reverseMsg">reverse this message</button>
    </div>

    <div id="app6">
        <p>{{ msg }}</p>
        <input v-model="msg">
    </div>

    <div id="app7">
        <ol>
            <!-- 自学文档遇到的第一个坑，同样通过文档找到答案： -->
            <!-- 注意这里 Prop 的写法，在 JS 里 Prop 中写驼峰，HLML 里写 -小写 -->
            <!-- 同时因为 Vue 这样的处理方式，使得 JS 里这种对 Prop 的命名不能用 -  -->
            <!-- v-for 不受 HTML 大小写不敏感的影响，因为是在 JS 里执行的 -->
            <conponent-name v-for="xxx in todoItemsXXX" v-bind:todo-x-x-x="xxx" v-bind:key="xxx.id"></conponent-name>
        </ol>
    </div>

</body>
<script src="./src/main.js"></script>

</html>